#InputID {
    width: 40px;
}
#InputArtículo {
    width: px;
}
#InputMarca {
    width: 100px;
}
#InputCantidad {
    width: 80px;
}
#InputPrecioL {
    width: 100px;
}
#InputPrecioML {
    width: 100px;
}
#InputPrecioMS {
    width: 100px;
}
#InputLíneaSerie {
    width: px;
}
#InputModelo {
    width: px;
}
#InputDescripción {
    width: px;
}
#InputBarras {
    width: px;
}
#InputSKU {
    width: px;
}