/*
Reglas CSS para tabla con resultados de consulta y fila para inserción / actualización de datos
*/
table.Catálogo {
    width: 100%;
    margin: 0% 0% 0% 0%;
}

table.Catálogo th,
table.Catálogo td,
table.Catálogo tr {
    text-align: center;
    border: 3px solid;
    border-color: #07a189;
    border-collapse: collapse;
    border-radius: 5px;
}

.CeldaParaPrecioL,
.CeldaParaPrecioML,
.CeldaParaPrecioMS {
    width: 75px;
}

::placeholder {
    color: white;
    text-decoration: dotted;
    font-size: 12px;
    text-align: center;
}

table.Catálogo tr.Fila1 th {
    font-size: 18px;
    padding: 5px;
    background-color: #0289c0;
    color: #011c4b;
}

table.Catálogo tr.FilasProductos {
    background-color: #004483;
    color: white;
}

table.Catálogo tr#FilaFormulario {
    background-color: #07a189;
    color: white;
}

#InputID {
    width: 30px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputArtículo {
    width: 190px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputMarca {
    width: 65px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputCantidad {
    width: 60px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputPrecioL {
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputPrecioML {
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputPrecioMS {
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputLíneaSerie {
    width: 60px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputModelo {
    width: 60px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputDescripción {
    width: 80px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputBarras {
    width: 100px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

#InputSKU {
    width: 90px;
    text-align: center;
    border-radius: 3px;
    background-color: #0289c0;
    color: white;
}

.CeldaParaID,
.CeldaParaArtículo,
.CeldaParaMarca,
.CeldaParaCantidad,
.CeldaParaPrecioL,
.CeldaParaPrecioML,
.CeldaParaPrecioMS,
.CeldaParaLíneaSerie,
.CeldaParaModelo,
.CeldaParaDescripción,
.CeldaParaBarras,
.CeldaParaSKU {
    padding: 2px;
}

/*CSS para tabla de filtros*/
#TablaFiltros {
    width: 95%;
    margin: 0% 2.5% 0% 2.5%;
}

#TablaFiltros th,
#TablaFiltros td {
    text-align: center;
    border: 3px solid;
    border-color: #07a189;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 2px;
}

#TablaFiltros #EncabezadosFiltros {
    background-color: #0289c0;
    color: #011c4b;
    font-size: 18px;
}

#TablaFiltros #InputsFiltros {
    background-color: #004483;
    color: white;
}

#CampoFiltroID,
#CampoFiltroMarca,
#CampoFiltroLíneaSerie,
#CampoFiltroModelo,
#CampoFiltroBarras,
#CampoFiltroSKU {
    background-color: #07a189;
    border-radius: 5px;
    color: white;
}

/*
#CampoFiltroID,
#CampoFiltroLíneaSerie ::placeholder,
#CampoFiltroModelo ::placeholder,
#CampoFiltroBarras ::placeholder,
#CampoFiltroSKU ::placeholder{
    color: white;
    text-align: center;

}
*/

#CampoFiltroID {
    width: 70px;
}

/*Estilos de texto*/

.BotónEstándar {
    background-color: #004483;
    border: 3px solid;
    border-color: #07a189;
    border-radius: 5px;
    color: white;
    margin: 0% 0% 0% 2.6%;
}

#copyright {
    text-align: center;
    color: #2e6583;
    text-decoration: dotted;
}

a.Básica {
    color: #60dbf1;
}

h2#IndicaArtículos {
    color: #07A189;
    text-align: justify;
    font-size: 25px;
    background-color: #004483;
    padding: 5px;
    text-indent: 50px;
}

div.Contenedor-Artículos#PartidosPolíticos {
    margin-top: 20px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

/*div h3 .TítuloArtículo    {        color: #07A189;        text-align: justify;        font-size: 25px;        background-color: #0C37E832;        padding: 5px;        padding-left: 20px;        border-radius: 10px;    }*/
h3.TítuloArtículo,
.TítuloArtículo#ContactoCorreo {
    color: #07A189;
    text-align: center;
    font-size: 25px;
    background-color: #004483;
    padding: 10px;
    border-radius: 15px;
}

h4.TítuloArtículo {
    color: #07A189;
    text-align: center;
    font-size: 25px;
    background-color: #004483;
    padding: 5px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}

div h4.Autor-Artículo,
div p.Autor-Artículo {
    margin-top: -2px;
    color: #60dbf1;
    text-align: center;
    font-size: 20px;
    background-color: #004483;
    padding: 5px;
    border-radius: 10px;
}

div ol.Descripción-Artículo li.ElementoDeLista,
div ol.Descripción-Artículo#ListaDinámica li {
    font-weight: 200;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    border-radius: 25px;
    text-indent: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 40px;
    padding-right: 50px;
    padding-left: 50px;
}


div .Descripción-Artículo {
    font-weight: 200;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    background-color: #0289c0;
    border-radius: 25px;
    text-indent: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

div#RedesSociales {
    align-items: center;
}

/*Redes sociales*/
img.RedSocial {
    width: 45px;
    height: 45px;
    margin: 5px;
    cursor: pointer;
    transition: 300ms;
}

img.RedSocial#Facebook:hover {
    width: 50px;
    height: 50px;
    margin: 2.5px;
}

img.RedSocial#WhatsApp:hover {
    width: 50px;
    height: 50px;
    margin: 2.5px;
    ;
}

img.RedSocial#Messenger:hover {
    width: 50px;
    height: 50px;
    margin: 2.5px;
}

hr {
    width: 75%;
    background-color: #041029;
    height: 5px;
    border-color: #07A189;
    border-radius: 5px;
    color: #041029;
}


/*
CSS TABLA
table#InsertarResultados,
    table#TablaFiltros {
        width: 100%;
    }

    #InsertarResultados th,
    #InsertarResultados tr,
    #InsertarResultados td,
    #TablaFiltros th,
    #TablaFiltros tr,
    #TablaFiltros td {
        border: 2px solid #07A189;
        text-align: center;
        border-radius: 5px;
    }

    #TablaFiltros td,
    #InsertarResultados td {
        background-color: #004483;
        color: whitesmoke;
    }

    #InsertarResultados th,
    #TablaFiltros th {
        background-color: #0289c0;
        color: #011c4b;
    }

    .EncabezadoCasilla {
        width: 15%;
    }

    tr {
        font-size: 20px;
        height: 30px;
    }

*/