body {
    background-color: #D0D65B;
}

h1 {
    background-color: #E2C044;
    color: whitesmoke;
}
h1:hover {
    color: aqua;    
}

#Encabezado {
    height: 100px;
    margin: 0% 15% 0% 15%;
}
#Contenedor-Encabezado {
    width: 100%;
    height: 100px;
    position: absolute;
}
#Contenido-Encabezado {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Encabezado-Superior {
    height: 50%;
    background-color: #912805;
}
#Encabezado-Inferior {
    height: 50%;
    background-color: #912805;
}


img#Logo:hover {
    width: 135px;
    height: 135px;
}
img#Logo {
    width: 115px;
    height: 115px;
}