body {
    background-color: #acc6dd;
    padding: 0%;
}

h1 {
    border-radius: 20px;
    background-color: #07a18aa8;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 16%;
    text-align: center;
    margin: 0% 8% 0% 16%;
}

h1:hover {
    width: 20%;
    color: white;
    margin: 0% 6% 0% 14%;
    text-align: center;
    font-size: 45px;
}

#Encabezado {
    height: 100px;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    width: 100%;
}

#Contenedor-Encabezado {
    width: 100%;
    height: 100px;
    position: absolute;
}

#Contenido-Encabezado {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Encabezado-Superior {
    height: 50%;
    background-color: #011c4b;
}

#Encabezado-Inferior {
    height: 50%;
    background-color: #0289c0;
}

#DivLOGO {
    width: 10%;
    height: auto;
    background-color: #07a189;
    border-radius: 40%;
    margin: 0% 8% 0% 8%;
}
#DivLOGO:hover {
    width: 10%;
    height: auto;
    background-color: #07a189;
    border-radius: 40%;
}

img#Logo:hover {
    width: 100%;
    height: auto;
    margin: 0% 0% 0% 0%;
}

img#Logo {
    width: 90%;
    height: auto;
    margin: 0% 5% 0% 5%;
}